<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<h1>thanksoverflow admin</h1>

<p><%= button_to "Import credits from TMDb", action: :import_credits %></p>

<p><%= button_to "Reset credits", {action: :reset_credits}, method: :delete, data: {confirm: "Sure? This will DELETE ALL THE TITLES!"} %></p>